.result {
  padding-block: remy(94) remy(122);

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: remy(30);
  }

  &__img {
    display: flex;
    flex-shrink: 0;
  }

  &__img-bottom {
    padding-top: remy(144);
    margin-left: remy(-144);
  }

  &__desc {
    flex-grow: 1;
    max-width: remy(540);
    padding-bottom: remy(23);
  }

  .h4 {
    margin-bottom: remy(6);
  }

  &__desc-text {
    font-size: 1rem;
    line-height: remy(37);
    margin-bottom: remy(28);
  }

  @media (max-width: remy(767)) {
    .h4 {
      margin-bottom: remy(11);
    }
    &__desc-text {
      line-height: 2rem;
      margin-bottom: remy(48);
      padding-right: remy(20);
    }

  }
}