section.app
    .app-container
        .app-content
            h2.h4 Don’t forget our app
            .app-content__text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.

            .app-content__links
                p Download now:
                .app-links__group
                    a(href="#")
                        img(src="../../img/app-link1.png" width="135" height="40" alt="Google Play")
                    a(href="#")
                        img(src="../../img/app-link2.png" width="133" height="38" alt="App Store")
        .app-images
            .app-images__item
                img(src="../../img/phone1.png" width="232" alt="App 1")
            .app-images__item
                img(src="../../img/phone2.png" width="232" alt="App 2")

