section.premium.section-pb
    .container
        .premium-content
            .premium__desc
                h2.h4.txt-accent Premium Facilities
                .premium__desc-text
                    p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.
                a.btn-outline(href="#!") Learn more

            .premium__img
                .premium__img-top
                    img(src="../../img/premium-img-top.jpg" width="444" height="296" alt="premium-img")
                .premium__img-bottom
                    img(src="../../img/premium-img-bottom.jpg" width="422" height="281" alt="premium-img")

