section.result
    .container
        .result-content
            .result__img
                .result__img-top
                    img(src="../../img/result-img-top.jpg" width="347" height="399" alt="result-img")
                .result__img-bottom
                    img(src="../../img/result-img-bottom.jpg" width="241" height="359" alt="result-img")

            .result__desc
                h2.h4.txt-accent Meet your new body
                .result__desc-text
                    p.p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risus, ut imperdiet augue.
                a.btn-outline(href="#!") View the FAQ