mixin socialItem(className, iconSrc)
    a.social-item(href="#")
        svg(class="svg-"+className)
            use(href="../../img/"+iconSrc)

section.social
    h2.h4.txt-accent Social
    .social-content.d-flex
        +socialItem('facebook', 'sprite/brands.svg#facebook-f')
        +socialItem('youtube', 'sprite/brands.svg#youtube')
        +socialItem('instagram', 'sprite/brands.svg#instagram')


