mixin stories-card(title, text,img, name)
    .stories-card
        h3.h5 #{title}Kg lost!

        .stories-card__text
            strong &#8220;
            p #{text}

        .stories-card__footer
            .stories-card__img
                img(src="../../img/avatar" + img + ".webp", width="59" height="57" alt="Stories Image")
            .stories-card__name
                p #{name}
                span Mother of two h

section.stories
    .stories-content
        .stories__title
            h2.h3 Real Stories from #[br]Real Customers
            p Be inspired with these experiences.
        .stories-cards-wrapper
            +stories-card('3', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risu.', '1', 'James John')
            +stories-card('17', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in mo.', '2', 'Mary Patricia')
            +stories-card('43', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.', '3', 'Robert Micheal')
