@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope/Manrope-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope/Manrope-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../../fonts/Manrope/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Times New Roman MT Std";
  src: url("../../fonts/TimesNewRoman/TimesNewRomanMTStd-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  --ac: #E43071;
  --subAc: #FFC1D8;
  --outBr: #FFDAE7;
  --darkAc: #BE285E;
}

body.green-theme {
  --ac: #26D68A;
  --subAc: #9BE8C7;
  --outBr: #a1e7c9;
  --darkAc: #0b9056;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: white;
}

.lock {
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
}

button,
a {
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}

button,
input,
button:focus,
input:focus {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

.d-flex {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 78.75rem;
  margin: 0 auto;
  padding-inline: 3.125rem;
}
@media (max-width: 1199px) {
  .container {
    padding-inline: 1.875rem;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: 1rem;
  }
}

.h1, h2, .h4 {
  font-size: 4.375rem;
  line-height: 1.1;
  font-weight: 700;
}

.h2 {
  font-size: 3.75rem;
}

.h3, h5 {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 600;
  color: #E43071;
}

.h4 {
  font-size: 2.5rem;
  line-height: 1.5;
}

.h5 {
  font-size: 2.375rem;
}

.accent-span {
  color: var(--subAc) !important;
}

.txt-accent {
  color: var(--ac) !important;
}

@media (max-width: 74.9375rem) {
  .h1 {
    font-size: 3.375rem;
  }
}
@media (max-width: 47.9375rem) {
  .h1 {
    font-size: 2rem;
  }
  .h4 {
    line-height: 1.2;
  }
}
.svg-search {
  fill: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  transform: rotate(90deg);
}

.svg-xmark {
  fill: #858585;
  width: 2.5rem;
  height: 2.5rem;
}
@media (max-width: 47.9375rem) {
  .svg-xmark {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}

.form-item {
  position: relative;
}
.form-item input {
  width: 100%;
  font-size: 1rem;
  display: block;
  height: 3.125rem;
  border: 0.0625rem solid #D2D2D2;
  border-radius: 0.3125rem;
  color: #858585;
}
.form-item input::placeholder {
  font-size: 1rem;
  color: #D2D2D2;
}

.search-form {
  gap: 4.375rem;
  width: 100%;
}
.search-form .form-item {
  width: 100%;
}
.search-form .search-btn, .search-form .reset-btn {
  width: 2.1875rem;
  height: 2.1875rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.search-form .search-btn > *, .search-form .reset-btn > * {
  vertical-align: middle;
}
.search-form .search-btn {
  left: 0.25rem;
}
.search-form .search-btn .svg-search {
  width: 2.1875rem;
  height: 2.1875rem;
  fill: var(--ac);
}
@media (max-width: 47.9375rem) {
  .search-form .search-btn .svg-search {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
.search-form .reset-btn {
  right: 0.25rem;
}
.search-form input {
  padding-inline: 3.125rem;
}
@media (max-width: 47.9375rem) {
  .search-form input {
    padding-inline: 2.5rem;
  }
}

.btn, .btn-outline {
  display: inline-block;
  min-width: 14.8125rem;
  height: 4.25rem;
  line-height: 4.25rem;
  border-radius: 2.125rem;
  text-align: center;
  flex-shrink: 0;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--ac);
  color: white;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
}
@media (max-width: 61.9375rem) {
  .btn, .btn-outline {
    height: 3.5rem;
    line-height: 3.5rem;
  }
}
@media (max-width: 47.9375rem) {
  .btn, .btn-outline {
    width: 100%;
    max-width: 18rem;
  }
}

.btn:hover {
  background-color: var(--darkAc);
}

.btn:focus {
  background-color: var(--darkAc);
  outline: 0.5625rem solid var(--outBg);
}

.btn-outline {
  line-height: 4rem;
  background-color: white;
  color: var(--ac);
  border: 0.125rem solid var(--ac);
}
@media (max-width: 61.9375rem) {
  .btn-outline {
    height: 3.75rem;
  }
}

.btn-outline__slim {
  height: 3.125rem;
  line-height: 2.875rem;
  min-width: 10.375rem;
  font-weight: 400;
}

.btn-outline:hover {
  border-color: var(--darkAc);
  color: var(--darkAc);
}

.btn-outline:focus {
  border: 0.125rem solid var(--ac);
  background-color: white;
  color: var(--ac);
  outline: 0.5625rem solid var(--outBr);
}

.btn-outline.btn-outline__slim:focus {
  outline: 0.3125rem solid var(--outBr);
}

.search-open {
  height: 3.125rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: white;
  transition: 0.3s;
}
.search-open:hover {
  opacity: 0.7;
}
@media (max-width: 35.875rem) {
  .search-open span {
    display: none;
  }
}

.header-menu {
  gap: 4.375rem;
  flex-shrink: 0;
}
.header-menu a {
  padding: 0.0625rem;
  color: white;
  transition: 0.3s;
}
.header-menu a:hover {
  opacity: 0.7;
}
@media (max-width: 89.9375rem) {
  .header-menu {
    gap: 2.5rem;
  }
}
@media (max-width: 74.9375rem) {
  .header-menu {
    gap: 1.5rem;
  }
}
@media (max-width: 61.9375rem) {
  .header-menu {
    flex-direction: column;
    padding-block: 2.5rem;
    gap: 0.75rem;
    width: 320px;
    transform: translateX(110%);
    transition: 0.3s;
    height: 100%;
    margin-left: auto;
    background-color: var(--ac);
  }
  .header-menu a {
    font-size: 1.25rem;
  }
}

@media (max-width: 61.9375rem) {
  #header-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
  }
}

#header-menu.active {
  display: block;
  animation-name: opacity;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
#header-menu.active .header-menu {
  animation-name: move;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

.header-menu.active {
  transform: translateX(0);
}

@keyframes move {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.header_seach__wrapper {
  position: absolute;
  top: -1.25rem;
  left: 0;
  right: 0;
  z-index: 4;
  padding-block: 1.5rem;
  background-color: white;
  box-shadow: 0 0.4375rem 0.9375rem rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.header_seach__wrapper.search-form-open {
  top: 6.3125rem;
  z-index: 2;
}
@media (max-width: 61.9375rem) {
  .header_seach__wrapper {
    padding-block: 1rem;
  }
  .header_seach__wrapper.search-form-open {
    top: 4rem;
  }
}

.menu-toggle {
  display: none;
  z-index: 11;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 1.875rem;
  height: 1.875rem;
}

@media (max-width: 61.9375rem) {
  .menu-toggle {
    display: flex;
  }
}
.menu-toggle span {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: white;
  position: relative;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu-toggle span:after,
.menu-toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu-toggle span:after {
  top: -7px;
}

.menu-toggle span:before {
  bottom: -7px;
}

.active.menu-toggle span {
  background-color: transparent !important;
}

.active.menu-toggle span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #ffffff;
}

.active.menu-toggle span:before {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #ffffff;
}

.logo {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-right: auto;
  color: white;
}
@media (max-width: 74.9375rem) {
  .logo {
    font-size: 2rem;
  }
}
@media (max-width: 35.875rem) {
  .logo {
    font-size: 1.375rem;
  }
}

.header-container {
  width: 100%;
  max-width: 86.875rem;
  padding-inline: 1rem;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header-nav {
  height: 6.3125rem;
  background-color: var(--ac);
  position: relative;
  z-index: 5;
}
.header-nav__btn {
  gap: 2.5rem;
  margin-left: 4.5625rem;
}
@media (max-width: 89.9375rem) {
  .header-nav__btn {
    margin-left: 2.5rem;
  }
}
@media (max-width: 74.9375rem) {
  .header-nav__btn {
    margin-left: 1.5rem;
    gap: 1.5rem;
  }
}
@media (max-width: 61.9375rem) {
  .header-nav__btn .btn-outline {
    display: none;
  }
}
@media (max-width: 61.9375rem) {
  .header-nav {
    height: 4rem;
  }
}

.header-content {
  height: calc(100vh - 6.875rem);
  max-height: 68.75rem;
  position: relative;
  padding-bottom: 0.1875rem;
}
@media (max-width: 99.9375rem) {
  .header-content {
    height: calc(100vh - 6.875rem);
    max-height: 44.0625rem;
  }
}
@media (max-width: 89.9375rem) {
  .header-content {
    height: calc(100vh - 6.875rem);
    max-height: 37.5rem;
  }
}
@media (max-width: 74.9375rem) {
  .header-content {
    height: 31.25rem;
  }
}
@media (max-width: 56.1875rem) {
  .header-content {
    height: 25.625rem;
  }
}

.header-content__title {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.header-content__title .h1 {
  margin-bottom: 1.4375rem;
  width: 15ch;
}
.header-content__title .btn {
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 47.9375rem) {
  .header-content__title {
    top: 43%;
  }
  .header-content__title .btn {
    min-width: 13rem;
  }
  .header-content__title .h1 {
    margin-bottom: 0.9375rem;
  }
}

.header-content__svg {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-content__svg svg {
  display: block;
  width: 100%;
}
.header-content__svg .svg-border-mob {
  display: none;
}
@media (max-width: 47.9375rem) {
  .header-content__svg .svg-border-desk {
    display: none;
  }
  .header-content__svg .svg-border-mob {
    display: block;
  }
}

.header-slider {
  --swiper-pagination-bottom: 60px;
  height: 100%;
}
.header-slider__item, .header-slider__item img {
  width: 100%;
  height: 100%;
  background-color: rgba(45, 40, 36, 0.2);
  position: relative;
}
.header-slider__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(45, 40, 36, 0.2);
}
@media (max-width: 99.9375rem) {
  .header-slider {
    --swiper-pagination-bottom: 40px;
  }
}
@media (max-width: 47.9375rem) {
  .header-slider__item img {
    object-position: 60%;
  }
}
@media (max-width: 26.4375rem) {
  .header-slider__item img {
    --swiper-pagination-bottom: 23px;
  }
}

.swiper-pagination {
  gap: 0.5rem;
}
.swiper-pagination-bullet {
  width: 0.75rem;
  height: 0.75rem;
  opacity: 1;
  background-color: #fff;
  vertical-align: middle;
}
.swiper-pagination-bullet-active {
  width: 1.0625rem;
  height: 1.0625rem;
  background-color: var(--ac);
}

.result {
  padding-block: 5.875rem 7.625rem;
}
.result-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
.result__img {
  display: flex;
  flex-shrink: 0;
}
.result__img-bottom {
  padding-top: 9rem;
  margin-left: -9rem;
}
.result__desc {
  flex-grow: 1;
  max-width: 33.75rem;
  padding-bottom: 1.4375rem;
}
.result .h4 {
  margin-bottom: 0.375rem;
}
.result__desc-text {
  font-size: 1rem;
  line-height: 2.3125rem;
  margin-bottom: 1.75rem;
}
@media (max-width: 47.9375rem) {
  .result .h4 {
    margin-bottom: 0.6875rem;
  }
  .result__desc-text {
    line-height: 2rem;
    margin-bottom: 3rem;
    padding-right: 1.25rem;
  }
}

/*# sourceMappingURL=main.css.map */
